body, .container-fluid, .row {margin: 0px; padding: 0px;}
.form-control {border-radius: 25px;}
.btn-send {background-color: #EE91BC; color: white; text-transform: uppercase;}
#sideguy {background-color: #EE91BC;}