.myform, .myform:focus {border: 0px; border-bottom: 1px solid gold; border-radius: 0px; background-color: inherit; outline: none;}
.mysubmit, .mysubmit:hover {background-color: gold; border-color: gold;}
.bg-nice {background-color: rgba(255, 100, 0, 0.2);}